*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 80px auto 80px;
  grid-template-areas:
    "header header"
    "menu  main"
    "footer  footer";
  height: 100vH;
}
  
.container:first-child{
  background-color: rgb(110, 110, 145);
  grid-area: header;
}
  
#footer {
  background-color: rgb(91, 181, 91);
  grid-area: footer;
}
  
#menu {
  background-color: rgb(167, 85, 85);
  grid-area: menu;
}
  
#main {
  background-color: rgb(174, 174, 93);
  grid-area: main;
}