*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 80px auto 80px;
  grid-template-areas:
    "header header"
    "menu  main"
    "footer  footer";
  height: 100vH;
}
  
.container:first-child{
  background-color: blue;
  grid-area: header;
}
  
#footer {
  background-color: green;
  grid-area: footer;
}
  
#menu {
  background-color: red;
  grid-area: menu;
}
  
#main {
  background-color: yellow;
  grid-area: main;
}